@page "/error"
@layout MainLayout
@using System.Timers
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager


<div class="error-title">Error. You do not have access to this account. You will be redirected to the home page.</div>

@code{ protected override async Task OnInitializedAsync()
            {

                Timer aTimer = new Timer();
                aTimer.Interval = 3000;

                // Hook up the Elapsed event for the timer.
                aTimer.Elapsed += (sender, args) =>
                {
                    NavManager.NavigateTo("/", true);
                };

                // Have the timer fire repeated events (true is the default)
                aTimer.AutoReset = true;

                // Start the timer
                aTimer.Enabled = true;

            } }