body {
}


.title {
    font-size: 13vh;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.buttons {
    margin-top:50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}



#login {
    width: 27vh;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: none;
    text-decoration: none;
    transition: 0.6 ease;
}
#register {
    width:27vh;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: none;
    text-decoration: none;
    transition:0.6 ease;

}

#login:hover{

    background-color: #fff;
    color: #000;
    

}


#register:hover {
    background-color: #fff;
    color: #000;
}