@page "/login"
@layout LoginLayout
@using BlazorPaymentManagementApp.Model
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.Text.Json.Serialization
@using Newtonsoft.Json
@using System.Timers
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <EditForm Model="@user" OnValidSubmit="LoginUser">
                    <h2 class="text-center"><strong>Welcome back</strong></h2>

                    <div class="form-group">
                        <InputText id="username" class="form-control" placeholder="Username" @bind-Value="username" />
                    </div>

                    <div class="form-group" style="display:inline-flex">
                        <InputText type="@showType" id="password" class="form-control" placeholder="Password" @bind-Value="password" />
                    </div>

                    <i class="far fa-eye" @onclick="() => showPassword()"></i>

                    <div class="form-group">
                        <input class="btn btn-success btn-block" type="submit" value="Submit"> <a class="already" href="/register"> Don't have an account? Register here.</a> <a class="already" href="/forgotpassword"> Forgot your password? Click here.</a>
                    </div>

                </EditForm>
            </form>
        </div>
        <h3>@goodMessage</h3>
        <h4>@badMessage</h4>
    </div>

@code{
    private List<User> users;

    private string showType = "password";

    private static Timer aTimer;

    private string goodMessage = "";
    private string badMessage = "";

    private User user = new User();
    private string username { get; set; }
    private string password { get; set; }

    HttpClient httpClient = new HttpClient()
    {
        BaseAddress = new Uri("http://localhost:5000")
    };

    private void showPassword()
    {
        if(showType == "password")
        {
            showType = "text";
        } else if (showType == "text")
        {
            showType = "password";
        }
    }

    protected async Task LoginUser()
    {
        List<string> my_request = new List<string> { username.ToLower(), password };

        var raspuns = await httpClient.PostAsJsonAsync<List<string>>("/api/v1/users/find", my_request);
        string returnValue = await raspuns.Content.ReadAsStringAsync();
        Console.WriteLine(returnValue);
        if (returnValue != "-1")
        {
            badMessage = "";
            goodMessage = "";
            goodMessage += "Logged in successfully, you will be redirected to your profile in one second... !";

            await localStorage.SetItemAsync("autentificat", "True");
            await localStorage.SetItemAsync("id", returnValue);

            aTimer = new Timer();
            aTimer.Interval = 1000;
            aTimer.Elapsed += (sender, args) =>
            {
                NavManager.NavigateTo("/users/" + returnValue, true);
            };

            aTimer.AutoReset = true;
            aTimer.Enabled = true;

        } else
        {
            badMessage = "";
            badMessage += "Invalid credentials, try again!";
        }


    }

    protected override async Task OnInitializedAsync()
    {

        users = await httpClient.GetFromJsonAsync<List<User>>("/api/v1/users");

    }
}
