body[b-mrxb3qfwvc]{

    background-color: #99b3ff;
}
.register-photo[b-mrxb3qfwvc] {
    background: #99b3ff;
    margin-top: 7%;
    height: 100vh;
    background: no-repeat;
}

    .register-photo .image-holder[b-mrxb3qfwvc] {
        display: table-cell;
        background: url(https://i.imgur.com/ixelN0o.jpg);
        background-size: cover;
        width: 800px;
        height:600px;
    }

.register-photo .form-container[b-mrxb3qfwvc] {
    display: table;
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.register-photo form[b-mrxb3qfwvc] {
    display: table-cell;
    width: 500px;
    background-color: #ffffff;
    margin-right: 200px;
    padding: 20px 40px;
    color: #505e6c
}

    

    .register-photo h3[b-mrxb3qfwvc] {
        text-align: center;
        margin-top: 3%;
        color: green;
    }

    .register-photo h4[b-mrxb3qfwvc] {
        margin-top: 1%;
        text-align: center;
        color: red;
    }

@media (max-width:991px) {
    .register-photo form[b-mrxb3qfwvc] {
        padding: 60px;
    }
}

.register-photo form h2[b-mrxb3qfwvc] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-mrxb3qfwvc] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-mrxb3qfwvc] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-mrxb3qfwvc] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-mrxb3qfwvc],
    .register-photo form .btn-primary:active[b-mrxb3qfwvc] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-mrxb3qfwvc] {
        transform: translateY(1px)
    }

.register-photo form .already[b-mrxb3qfwvc] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
