body[b-mrxb3qfwvc] {


}


h4[b-mrxb3qfwvc]{

    text-align:center;
}

.form[b-mrxb3qfwvc] {
    width: 70%;
    margin-left: 15%;
}

.form .text[b-mrxb3qfwvc]{

    float:right;

}

.total-form[b-mrxb3qfwvc] {

    margin-top:10%;
}

input[type=submit][b-mrxb3qfwvc] {
    margin-left: 50%;
    border:none;

}

*:focus[b-mrxb3qfwvc] {
    outline: none;
}

