.register-photo[b-t4gj8982ag] {
    background: #99b3ff;
    padding-bottom: 334px;
    margin-top: 7%;
    margin-left: 6%;
}

    .register-photo .image-holder[b-t4gj8982ag] {
        display: table-cell;
        width: 900px;
        background: url(https://i.imgur.com/uUYpE5I.jpg);
        background-size: cover
    }

    .register-photo .form-container[b-t4gj8982ag] {
        display: table;
        max-width: 1100px;
        height: 550px;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form[b-t4gj8982ag] {
        display: table-cell;
        width: 500px;
        background-color: #ffffff;
        margin-right: 200px;
        padding: 60px 60px;
        color: #505e6c
    }

@media (max-width:991px) {
    .register-photo form[b-t4gj8982ag] {
        padding: 60px;
    }
}

.register-photo form h2[b-t4gj8982ag] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-t4gj8982ag] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
}
.register-photo form h4[b-t4gj8982ag] {
    font-size: 18px;
    text-align: center;
    margin-top: 75px;
    color: red;
    line-height: 1.5;
}

.register-photo form h5[b-t4gj8982ag] {
    font-size: 2vh;
    margin-top: 60px;
    text-align: center;
    color: green;
    line-height: 1.5;
}


.register-photo form .form-check[b-t4gj8982ag] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-t4gj8982ag] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-t4gj8982ag],
    .register-photo form .btn-primary:active[b-t4gj8982ag] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-t4gj8982ag] {
        transform: translateY(1px)
    }

.register-photo form .already[b-t4gj8982ag] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
