.register-photo[b-kkxyimxcrz] {
    padding-bottom: 390px;
    width: 100%;
}

.register-photo .image-holder[b-kkxyimxcrz] {
    display: table-cell;
    width: 500px;
    background: url(https://i.imgur.com/ucBlWgi.jpg);
    background-size: cover
}

.register-photo .form-container[b-kkxyimxcrz] {
    display: table;
    max-width: 900px;
    width: 1000px;
    height: 440px;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.register-photo form[b-kkxyimxcrz] {
    display: table-cell;
    width: 500px;
    background-color: #ffffff;
    padding: 60px 60px;
    color: #505e6c
}

@media (max-width:991px) {
    .register-photo form[b-kkxyimxcrz] {
        padding: 60px;
    }
}

.register-photo form h4[b-kkxyimxcrz] {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: red;
    line-height: 1.5;
}

.register-photo form h5[b-kkxyimxcrz] {
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    color: green;
    line-height: 1.5;
}

.register-photo form h2[b-kkxyimxcrz] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-kkxyimxcrz] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-kkxyimxcrz] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-kkxyimxcrz] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-kkxyimxcrz],
    .register-photo form .btn-primary:active[b-kkxyimxcrz] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-kkxyimxcrz] {
        transform: translateY(1px)
    }

.register-photo form .already[b-kkxyimxcrz] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
