.register-photo[b-fob5x4kfew] {
    padding-bottom: 400px;
    width: 100%;
}

    .register-photo .image-holder[b-fob5x4kfew] {
        display: table-cell;
        width: auto;
        background: url(https://i.imgur.com/sdthwLx.jpg);
        background-size: cover;
        width: 170vh;
    }

    .register-photo .form-container[b-fob5x4kfew] {
        display: table;
        max-width: 185vh;
        height:100vh;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form[b-fob5x4kfew] {
        display: table-cell;
        width: 100vh;
        background-color: #ffffff;
        margin-right: 200px;
        padding: 60px 60px;
        color: #505e6c
    }

        .register-photo form h4[b-fob5x4kfew] {
            font-size: 18px;
            text-align: center;
            margin-top: 75px;
            color: red;
            line-height: 1.5;
        }

        .register-photo form h5[b-fob5x4kfew] {
            font-size: 2vh;
            margin-top: 60px;
            text-align: center;
            color: green;
            line-height: 1.5;
        }

@media (max-width:991px) {
    .register-photo form[b-fob5x4kfew] {
        padding: 60px;
    }
}

.register-photo form h2[b-fob5x4kfew] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-fob5x4kfew] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-fob5x4kfew] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-fob5x4kfew] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-fob5x4kfew],
    .register-photo form .btn-primary:active[b-fob5x4kfew] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-fob5x4kfew] {
        transform: translateY(1px)
    }

.register-photo form .already[b-fob5x4kfew] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
