@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager
@inherits LayoutComponentBase

<div class="page">

    <h3>NoFraud</h3>
    <div class="navigation">
        <a @onclick="logout" target="_blank" class="ml-md-auto">Logout</a>
    </div>
    <div class="navigation">
        <a @onclick="GoToProfile" target="_blank" class="ml-md-auto">My Profile</a>
    </div>
    <div class="navigation">
        <a @onclick="GoToCreateCard" target="_blank" class="ml-md-auto">Add Card</a>
    </div>
    <div class="navigation">
        <a @onclick="GoToBankAccount" target="_blank" class="ml-md-auto">Add Bank Account</a>
    </div>
    <div class="navigation">
        <a @onclick="GoToPayment" target="_blank" class="ml-md-auto">Add Payment</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code { private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public bool IsLoggedIn { get; set; }
    public bool Id { get; set; }
    public string IdValue { get; set; }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async void logout()
    {
        await localStorage.RemoveItemAsync("autentificat");
        await localStorage.RemoveItemAsync("id");

        NavManager.NavigateTo("/");
    }

    protected async void GoToProfile()
    {
        NavManager.NavigateTo("users/" + this.IdValue);
    }

    protected async void GoToCreateCard()
    {
        NavManager.NavigateTo("/createcard");
    }

    protected async void GoToBankAccount()
    {
        NavManager.NavigateTo("/createbankaccount");
    }

    protected async void GoToPayment()
    {
        NavManager.NavigateTo("/createpayment");
    }


    protected override async Task OnInitializedAsync()
    {
        this.IdValue = await localStorage.GetItemAsStringAsync("id");
        this.IsLoggedIn = await localStorage.ContainKeyAsync("autentificat");
        this.Id = await localStorage.ContainKeyAsync("id");
        Console.WriteLine("autentificat:" + this.IsLoggedIn);

    } }
