body {

    background-color:black;

}

.page {

    background-image: url("1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

h3 {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 2.5em;
    float: left;
    font-size: 25px;
    color: black;

}

.navigation {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-bottom: 50px;
}

.navigation a{

    font-style:normal;
    margin-right: 25px;
    text-decoration: none;
    padding : 5px 20px;
    border: 1px solid #0094ff;
    color : darkolivegreen;
}

    .navigation a:hover {
        background-color: mediumslateblue;
        color: black;
        transition: 0.5s ease;
        font-weight: bold;
    }