@inherits LayoutComponentBase
<div class="page">

    <h3>NoFraud</h3>
    <div class="navigation">
        <a href="/users/1" target="_blank" class="ml-md-auto">My Profile</a>
    </div>
    <div class="navigation">
        <a href="/createcard" target="_blank" class="ml-md-auto">Add Card</a>
    </div>
    <div class="navigation">
        <a href="/createbankaccount" target="_blank" class="ml-md-auto">Add Bank Account</a>
    </div>
    <div class="navigation">
        <a href="/createpayment" target="_blank" class="ml-md-auto">Make Payment</a>
    </div>
    <div class="contain">
        @Body
    </div>
</div>