@import '';

/* /Pages/BankAccountsData.razor.rz.scp.css */
h3[b-xav4jpzvug]{
    color:red;
}
/* /Pages/CreateBankAccount.razor.rz.scp.css */


h3[b-t4gj8982ag] {
    text-align: center;
}

.page[b-t4gj8982ag] {
    background-color: black;
}

.form[b-t4gj8982ag] {
    margin-left: 31%;
    width: 40%;
}

.total-form[b-t4gj8982ag] {
    margin-top: 10%;
}

input[type=submit][b-t4gj8982ag] {
    margin-top: 5px;
    margin-left: 45.5%;
    border: none;
    width: 10%;
    background-color: #44c767;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

*:focus[b-t4gj8982ag] {
    outline: none;
}

.form .form-input[b-t4gj8982ag] {
    margin: 1.2em;
}

.form-control[type=text][b-t4gj8982ag] {
    background-color: black;
}

input[type=text][b-t4gj8982ag] {
    background-color: black;
}
/* /Pages/CreateCard.razor.rz.scp.css */


h3[b-mrxb3qfwvc] {
    text-align: center;
}

.form[b-mrxb3qfwvc] {
    margin-left: 31%;
    width: 40%;
}

.total-form[b-mrxb3qfwvc] {
    margin-top: 5%;
}
input[type=submit][b-mrxb3qfwvc] {
    margin-top: 5px;
    margin-left: 45.5%;
    border: none;
    width: 10%;
    background-color: #44c767;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

*:focus[b-mrxb3qfwvc] {
    outline: none;
}

.form .form-input[b-mrxb3qfwvc] {
    margin: 1.2em;
}

.form-control[type=text][b-mrxb3qfwvc] {
    background-color: black;
}

input[type=text][b-mrxb3qfwvc] {
    background-color: black;
}
/* /Pages/CreatePayment.razor.rz.scp.css */


h3[b-1qhdc9h047] {
    text-align: center;
}

.form[b-1qhdc9h047] {
    margin-left: 31%;
    width: 40%;
}

.total-form[b-1qhdc9h047] {
    margin-top: 5%;
}

input[type=submit][b-1qhdc9h047] {
    margin-top: 5px;
    margin-left: 45.5%;
    border: none;
    width: 10%;
    background-color: #44c767;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

*:focus[b-1qhdc9h047] {
    outline: none;
}

.form .form-input[b-1qhdc9h047] {
    margin: 1.2em;
}

.form-control[type=text][b-1qhdc9h047] {
    background-color: black;
}

input[type=text][b-1qhdc9h047] {
    background-color: black;
}
/* /Pages/Login.razor.rz.scp.css */


h3[b-kkxyimxcrz] {
    text-align: center;
    font-size:2em;
    border-bottom: 3px;
}

.form[b-kkxyimxcrz] {
    
    margin-left: 31%;
    width: 40%;
}

.total-form[b-kkxyimxcrz] {
    margin-top: 10%;
   

}



.linii[b-kkxyimxcrz] {

    margin-top:15%;
}

input[type=submit][b-kkxyimxcrz] {
    margin-top: 5px;
    margin-left: 45.5%;
    border: none;
    width: 10%;
    background-color: #44c767;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

    input[type=submit]:hover[b-kkxyimxcrz] {
        background-color: #5cbf2a;
        color: white;
    }

*:focus[b-kkxyimxcrz] {
    outline: none;
}

.form .form-input[b-kkxyimxcrz] {
    margin: 1.2em;
}

.form .form-input[type=text][b-kkxyimxcrz]{

    background-color:black;
    font-size:20px;
}

.form .form-input .form-control valid[b-kkxyimxcrz]{
 
    background-color:black;
}
input[type=text][b-kkxyimxcrz] {
    background-color: black;
}
/* /Pages/Register.razor.rz.scp.css */


h3[b-fob5x4kfew] {
    text-align: center;
}

.form[b-fob5x4kfew] {
    margin-left: 31%;
    width: 40%;
}

.total-form[b-fob5x4kfew] {
    margin-top: 10%;
}

input[type=submit][b-fob5x4kfew] {
    margin-top: 5px;
    margin-left: 45.5%;
    border: none;
    width: 10%;
    background-color: #44c767;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

*:focus[b-fob5x4kfew] {
    outline: none;
}

.form .form-input[b-fob5x4kfew] {
    margin: 1.2em;
}

.form-control[type=text][b-fob5x4kfew] {
    background-color: black;
}

input[type=text][b-fob5x4kfew] {
    background-color: black;
}
/* /Pages/UserById.razor.rz.scp.css */
body[b-2ydhb5wup3] {

}


h3[b-2ydhb5wup3]{
    margin-top:25px;
    text-align:center;
    margin-left:25px;
    color : black;
}

.table[b-2ydhb5wup3] {

    border-collapse : collapse;
    margin : 25px 50px 50px 200px;
    max-width: 75%;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
   

}

.table thead tr[b-2ydhb5wup3] {

    background-color:mediumslateblue;
    text-align: left;
    font-weight: bold;
}

.table th[b-2ydhb5wup3],
.table tr[b-2ydhb5wup3] {
    padding: 12px 15px;
}

    .table tbody tr[b-2ydhb5wup3] {
        border-bottom: 1px solid mediumslateblue;
    }

.table tbody tr:nth-of-type(even)[b-2ydhb5wup3]{
    background-color:lightgrey;
}
.table tbody tr:nth-of-type(2n+1)[b-2ydhb5wup3]
{
    background-color:azure;
}
.table tbody tr:last-of-type[b-2ydhb5wup3]{
    border-bottom:2px solid mediumslateblue;
}
/* /Shared/CardLayout.razor.rz.scp.css */
body[b-ku3jajem7m] {

    background-color:black;

}

.page[b-ku3jajem7m] {

    background-size:cover;
    background-repeat: no-repeat;
}

h3[b-ku3jajem7m] {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 2.5em;
    float: left;
    font-size: 25px;
    color: black;

}

.navigation[b-ku3jajem7m] {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-bottom: 50px;
}

.navigation a[b-ku3jajem7m]{

    font-style:normal;
    margin-right: 25px;
    text-decoration: none;
    padding : 5px 20px;
    border: 1px solid #0094ff;
    color : darkolivegreen;
}

    .navigation a:hover[b-ku3jajem7m] {
        background-color: mediumslateblue;
        color: black;
        transition: 0.5s ease;
        font-weight: bold;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-39h3o3gs01] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f0;
}

.main[b-39h3o3gs01] {
    flex: 1;
}

.sidebar[b-39h3o3gs01] {
    background: linear-gradient(to top right, #3399ff 0%, #0033cc 100%);
}

.top-row[b-39h3o3gs01] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-39h3o3gs01]  a, .top-row .btn-link[b-39h3o3gs01] {
        white-space: nowrap;
        margin-left: 1.5rem;
}

    .top-row a:first-child[b-39h3o3gs01] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-39h3o3gs01] {
        display: none;
    }

    .top-row.auth[b-39h3o3gs01] {
        justify-content: space-between;
    }

    .top-row a[b-39h3o3gs01], .top-row .btn-link[b-39h3o3gs01] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-39h3o3gs01] {
        flex-direction: row;
    }

    .sidebar[b-39h3o3gs01] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-39h3o3gs01] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-39h3o3gs01] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-u42jjhhjez] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u42jjhhjez] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-u42jjhhjez] {
    font-size: 1.1rem;
}

.oi[b-u42jjhhjez] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-u42jjhhjez] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-u42jjhhjez] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-u42jjhhjez] {
        padding-bottom: 1rem;
    }

    .nav-item[b-u42jjhhjez]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-u42jjhhjez]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u42jjhhjez]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-u42jjhhjez] {
        display: none;
    }

    .collapse[b-u42jjhhjez] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
