@import '';

/* /Pages/BankAccountsData.razor.rz.scp.css */
h3[b-xav4jpzvug]{
    color:red;
}
/* /Pages/CreateBankAccount.razor.rz.scp.css */
.register-photo[b-t4gj8982ag] {
    background: #99b3ff;
    padding-bottom: 334px;
    margin-top: 9%;
    margin-left: 5%;
}

    .register-photo .image-holder[b-t4gj8982ag] {
        display: table-cell;
        width: 900px;
        background: url(https://i.imgur.com/uUYpE5I.jpg);
        background-size: cover
    }

    .register-photo .form-container[b-t4gj8982ag] {
        display: table;
        max-width: 1100px;
        height: 550px;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form[b-t4gj8982ag] {
        display: table-cell;
        width: 500px;
        background-color: #ffffff;
        margin-right: 200px;
        padding: 60px 60px;
        color: #505e6c
    }

@media (max-width:991px) {
    .register-photo form[b-t4gj8982ag] {
        padding: 60px;
    }
}

.register-photo form h2[b-t4gj8982ag] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-t4gj8982ag] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
}
.register-photo form h4[b-t4gj8982ag] {
    font-size: 18px;
    text-align: center;
    margin-top: 75px;
    color: red;
    line-height: 1.5;
}

.register-photo form h5[b-t4gj8982ag] {
    font-size: 2vh;
    margin-top: 60px;
    text-align: center;
    color: green;
    line-height: 1.5;
}


.register-photo form .form-check[b-t4gj8982ag] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-t4gj8982ag] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-t4gj8982ag],
    .register-photo form .btn-primary:active[b-t4gj8982ag] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-t4gj8982ag] {
        transform: translateY(1px)
    }

.register-photo form .already[b-t4gj8982ag] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
/* /Pages/CreateCard.razor.rz.scp.css */
.register-photo[b-mrxb3qfwvc] {
    background: #99b3ff;
    padding-bottom: 334px;
    margin-top: 7%;
    background-size:cover;
    margin-left: 2%;
}

    .register-photo .image-holder[b-mrxb3qfwvc] {
        display: table-cell;
        width: auto;
        background: url(https://i.imgur.com/Sdox1Ue.jpg);
        background-size: cover;
        width: 1400px;
    }

    .register-photo .form-container[b-mrxb3qfwvc] {
        display: table;
        max-width: 1200px;
        height:700px;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form[b-mrxb3qfwvc] {
        display: table-cell;
        width: 750px;
        background-color: #ffffff;
        margin-right: 200px;
        padding: 60px 60px;
        color: #505e6c
    }

        .register-photo form h4[b-mrxb3qfwvc] {
            font-size: 18px;
            text-align: center;
            margin-top: 75px;
            color: red;
            line-height: 1.5;
        }

        .register-photo form h5[b-mrxb3qfwvc] {
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
            color: green;
            line-height: 1.5;
        }

@media (max-width:991px) {
    .register-photo form[b-mrxb3qfwvc] {
        padding: 60px;
    }
}

.register-photo form h2[b-mrxb3qfwvc] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-mrxb3qfwvc] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-mrxb3qfwvc] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-mrxb3qfwvc] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-mrxb3qfwvc],
    .register-photo form .btn-primary:active[b-mrxb3qfwvc] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-mrxb3qfwvc] {
        transform: translateY(1px)
    }

.register-photo form .already[b-mrxb3qfwvc] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
/* /Pages/CreatePayment.razor.rz.scp.css */
.register-photo[b-1qhdc9h047] {
    background: #99b3ff;
    padding-bottom: 334px;
    margin-top: 7%;
    margin-left:7%;
}

    .register-photo .image-holder[b-1qhdc9h047] {
        display: table-cell;
        width: auto;
        background: url(https://i.imgur.com/7sCYskG.jpg);
        background-size: cover;
        width: 1200px;
    }

    .register-photo .form-container[b-1qhdc9h047] {
        display: table;
        max-width: 900px;
        height: 100%;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form[b-1qhdc9h047] {
        display: table-cell;
        width: 700px;
        background-color: #ffffff;
        margin-right: 200px;
        padding: 60px 60px;
        color: #505e6c
    }

@media (max-width:991px) {
    .register-photo form[b-1qhdc9h047] {
        padding: 60px;
    }
}

.register-photo form h2[b-1qhdc9h047] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-1qhdc9h047] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-1qhdc9h047] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-1qhdc9h047] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-1qhdc9h047],
    .register-photo form .btn-primary:active[b-1qhdc9h047] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-1qhdc9h047] {
        transform: translateY(1px)
    }

.register-photo form .already[b-1qhdc9h047] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
/* /Pages/Error.razor.rz.scp.css */
body[b-03bgoy2xi6] {
}

.error-title[b-03bgoy2xi6] {
    font-size:25px;
    color:white;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* /Pages/Index.razor.rz.scp.css */
body[b-jvtcrqogn1] {
}


.title[b-jvtcrqogn1] {
    position:absolute;
    top:30%;
    left:36%;
    font-size:13vh;
    transform: translate(-35%,-50%);
    color:white;
}

.buttons[b-jvtcrqogn1] {
    margin-top:50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}



#login[b-jvtcrqogn1] {
    width: 27vh;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: none;
    text-decoration: none;
    transition: 0.6 ease;
}
#register[b-jvtcrqogn1] {
    width:27vh;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: none;
    text-decoration: none;
    transition:0.6 ease;

}

#login:hover[b-jvtcrqogn1]{

    background-color: #fff;
    color: #000;
    

}


#register:hover[b-jvtcrqogn1] {
    background-color: #fff;
    color: #000;
}
/* /Pages/Login.razor.rz.scp.css */
.register-photo[b-kkxyimxcrz] {
    padding-bottom: 390px;
    width: 100%;
}

.register-photo .image-holder[b-kkxyimxcrz] {
    display: table-cell;
    width: 500px;
    background: url(https://i.imgur.com/ucBlWgi.jpg);
    background-size: cover
}

.register-photo .form-container[b-kkxyimxcrz] {
    display: table;
    max-width: 900px;
    width: 1000px;
    height: 440px;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.register-photo form[b-kkxyimxcrz] {
    display: table-cell;
    width: 500px;
    background-color: #ffffff;
    padding: 60px 60px;
    color: #505e6c
}

@media (max-width:991px) {
    .register-photo form[b-kkxyimxcrz] {
        padding: 60px;
    }
}

.register-photo form h4[b-kkxyimxcrz] {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: red;
    line-height: 1.5;
}

.register-photo form h5[b-kkxyimxcrz] {
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    color: green;
    line-height: 1.5;
}

.register-photo form h2[b-kkxyimxcrz] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-kkxyimxcrz] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-kkxyimxcrz] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-kkxyimxcrz] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-kkxyimxcrz],
    .register-photo form .btn-primary:active[b-kkxyimxcrz] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-kkxyimxcrz] {
        transform: translateY(1px)
    }

.register-photo form .already[b-kkxyimxcrz] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
/* /Pages/Register.razor.rz.scp.css */
.register-photo[b-fob5x4kfew] {
    padding-bottom: 400px;
    width: 100%;
}

    .register-photo .image-holder[b-fob5x4kfew] {
        display: table-cell;
        width: auto;
        background: url(https://i.imgur.com/sdthwLx.jpg);
        background-size: cover;
        width: 170vh;
    }

    .register-photo .form-container[b-fob5x4kfew] {
        display: table;
        max-width: 150vh;
        height:80vh;
        margin: 0 auto;
        margin-top: 100px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form[b-fob5x4kfew] {
        display: table-cell;
        width: 100vh;
        background-color: #ffffff;
        margin-right: 200px;
        padding: 60px 60px;
        color: #505e6c
    }

        .register-photo form h4[b-fob5x4kfew] {
            font-size: 18px;
            text-align: center;
            margin-top: 75px;
            color: red;
            line-height: 1.5;
        }

        .register-photo form h5[b-fob5x4kfew] {
            font-size: 2vh;
            margin-top: 60px;
            text-align: center;
            color: green;
            line-height: 1.5;
        }

.register-photo form .form-control[b-fob5x4kfew]{
        padding-right: 310px;
}

@media (max-width:991px) {
    .register-photo form[b-fob5x4kfew] {
        padding: 60px;
    }
}

.register-photo form h2[b-fob5x4kfew] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control[b-fob5x4kfew] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-fob5x4kfew] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-fob5x4kfew] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-fob5x4kfew],
    .register-photo form .btn-primary:active[b-fob5x4kfew] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-fob5x4kfew] {
        transform: translateY(1px)
    }

.register-photo form .already[b-fob5x4kfew] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
/* /Pages/UserById.razor.rz.scp.css */
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >

body[b-2ydhb5wup3] {
}

.register-photo[b-2ydhb5wup3] {
    background: #99b3ff;
    padding-bottom: 334px;
    display:table-cell;
 
}


.title[b-2ydhb5wup3]{
    margin-left:10px;
    text-align:center;
}

    .register-photo .image-holder[b-2ydhb5wup3] {
        display: table-cell;
        width: auto;
        background: url(https://i.imgur.com/vHk2iJc.jpg);
        background-size: cover;
        width: 1300px;
        height:700px;
        border-top-left-radius: 6px;
    }

.register-photo .form-container[b-2ydhb5wup3] {
    display: table;
    max-width: 1280px;
    height: 100%;
    margin-left: 7%;
    margin-top: 25px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}
.register-photo form[b-2ydhb5wup3] {
    margin-top: 50px;
    display: table-cell;
    background-color: #ccffcc;
    width: 850px;
    margin-right: 200px;
    padding: 60px 60px;
    color: #505e6c;
    border-top-right-radius: 6px;
}
.register-photo .banks[b-2ydhb5wup3] {
    background-color: #f0f5f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 1280px;
    margin-right: 200px;
    padding: 60px 60px;
    color: #505e6c;
    margin-left: 7%;
}

@media (max-width:991px) {
    .register-photo form[b-2ydhb5wup3] {
        padding: 60px;
    }
}

.register-photo form h2[b-2ydhb5wup3] {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}
.register-photo form .form-control[b-2ydhb5wup3] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check[b-2ydhb5wup3] {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary[b-2ydhb5wup3] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover[b-2ydhb5wup3],
    .register-photo form .btn-primary:active[b-2ydhb5wup3] {
        background: blue
    }

    .register-photo form .btn-primary:active[b-2ydhb5wup3] {
        transform: translateY(1px)
    }

.register-photo form .already[b-2ydhb5wup3] {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}


h3[b-2ydhb5wup3]{
    margin-top:25px;
    text-align:center;
   
    color : black;
}

.table[b-2ydhb5wup3] {

    border-collapse : collapse;
    margin : 25px 50px 50px 200px;
    max-width: 50%;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
   

}

    .table thead tr[b-2ydhb5wup3] {
        background: linear-gradient(to top right, #3399ff 0%, #0033cc 100%);
        text-align: left;
        font-weight: bold;
    }

.table th[b-2ydhb5wup3],
.table tr[b-2ydhb5wup3] {
    padding: 12px 15px;
}

    .table tbody tr[b-2ydhb5wup3] {
        border-bottom: 1px solid mediumslateblue;
    }

.table tbody tr:nth-of-type(even)[b-2ydhb5wup3]{
    background-color:lightgrey;
}
.table tbody tr:nth-of-type(2n+1)[b-2ydhb5wup3]
{
    background-color:azure;
}
.table tbody tr:last-of-type[b-2ydhb5wup3]{
    border-bottom:2px solid mediumslateblue;
}

.deleteButton[b-2ydhb5wup3] {
    border: none;
    background-color: #44c767;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}
.deleteButton:hover[b-2ydhb5wup3] {
        background-color: #5cbf2a;
        color: white;
}
/* /Shared/CardLayout.razor.rz.scp.css */
body[b-ku3jajem7m] {

    background-color:black;

}

.page[b-ku3jajem7m] {
    background-color: #99b3ff;


}

h3[b-ku3jajem7m] {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 2.5em;
    float: left;
    font-size: 25px;
    color: black;

}

.navigation[b-ku3jajem7m] {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-bottom: 50px;
}

    .navigation a[b-ku3jajem7m] {
        font-style: normal;
        margin-right: 25px;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 6px;
        border: 1px solid #0094ff;
        color: black;
        background-color: lightcyan;
    }

    .navigation a:hover[b-ku3jajem7m] {
        background: linear-gradient(to top right, #3399ff 0%, #0033cc 100%);
        color: white;
        cursor: pointer;
        transition: 0.5s ease;
    }
/* /Shared/LoginLayout.razor.rz.scp.css */
.page[b-kfsq51arjr] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-kfsq51arjr] {
    flex: 1;
    height: 100vh;
    background-color: #99b3ff;
    background-size: cover;
    background-position: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-39h3o3gs01] {
    position: relative;
    display: flex;
    flex-direction: column;

}

.main[b-39h3o3gs01] {
    flex: 1;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://i.imgur.com/6nGnVCs.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.sidebar[b-39h3o3gs01] {
    background: linear-gradient(to top right, #3399ff 0%, #0033cc 100%);
}

.top-row[b-39h3o3gs01] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-39h3o3gs01]  a, .top-row .btn-link[b-39h3o3gs01] {
        white-space: nowrap;
        margin-left: 1.5rem;
}

    .top-row a:first-child[b-39h3o3gs01] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-39h3o3gs01] {
        display: none;
    }

    .top-row.auth[b-39h3o3gs01] {
        justify-content: space-between;
    }

    .top-row a[b-39h3o3gs01], .top-row .btn-link[b-39h3o3gs01] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-39h3o3gs01] {
        flex-direction: row;
    }

    .sidebar[b-39h3o3gs01] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-39h3o3gs01] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-39h3o3gs01] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-u42jjhhjez] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u42jjhhjez] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-u42jjhhjez] {
    font-size: 1.1rem;
}

.oi[b-u42jjhhjez] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-u42jjhhjez] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-u42jjhhjez] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-u42jjhhjez] {
        padding-bottom: 1rem;
    }

    .nav-item[b-u42jjhhjez]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-u42jjhhjez]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u42jjhhjez]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-u42jjhhjez] {
        display: none;
    }

    .collapse[b-u42jjhhjez] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
